.dashboardPage {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboardContainer {
    height: 80%;
    width: 85%;
    padding: 20px;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    margin-top: 50px;
}

.dashboardContainer .card {
    border: 1px solid;
    border-radius: 20px;
    padding: 20px;
}

.dashboardContainer .progressContainer {
    grid-row: span 2;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.dashboardContainer .nutritionContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}


