.dashboardPage {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dashboardContainer {
    height: 800px;
    width: 1400px;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 50px;
}

.dashboardContainer .card {
    background: var(--primary-color);
    border-radius: 20px;
    padding: 20px;
}

/* progress container */
.dashboardContainer .progressContainer {
    grid-row: 1 / 3;
    grid-column: 3;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 25px;
    width: 100%;
    box-sizing: border-box;
}

.progressContainer .cardHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    width: 90%;
}

.progressContainer .headerText {
    display: flex;
    flex-direction: column;
}

.progressContainer .headerText h2 {
    margin: 0;
}

.progressContainer .profileContainer {
    border: 2px solid var(--accent-color);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-top: 7px;
    cursor: pointer;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}


/* bottom section */

.bottomSection {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
    width: 100%;
}

.activitySection {
    display: flex;
    gap: 20px;
    width: 100%;
    align-items: stretch;
    height: 200px;
}

.recentActivityCard {
    flex: 1;
    height: 100%;
}

.bottomCards {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.topRow {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.progressContainer .smallCard {
    background: var(--secondary-color);
    border-radius: 10px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.squareCard {
    height: 130px;
    width: 100%;
}

.wideCard {
    height: 100px;
    width: 100%;
}

.weeklyGoalsCard {
    background: var(--primary-color);
    border-radius: 20px;
    padding: 20px;
}

.monthlyProgressCard {
    background: var(--primary-color);
    border-radius: 20px;
    padding: 20px;
}

.quickActionsCard {
    background: var(--secondary-color) !important;

}

.progressContainer .streakContainer {
    position: relative;
}

.streakContainer svg {
    position: absolute;
    top: 10px;
    left: 7px;
}

.streakContainer .streakLabel {
    font-weight: bold;
    font-size: 2.4rem;
}

.streakContainer label {
    font-size: 0.8rem;
    color: var(--accent-color);
    margin-top: 8px;
    position: absolute;
    top: 7px;
    font-weight: bold;
}

.streakContainer span {
    position: absolute;
    bottom: 25px;
    font-size: 0.85rem;
    opacity: 80%;
}



/* Nutrition Container */

.dashboardContainer .nutritionContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.workoutContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 15px;
}

.workoutContainer .scheduledToday {
    flex: 1;
    background: var(--secondary-color);
    border-radius: 10px;
    padding: 15px;
    max-height: 300px;
}

.workoutContainer .fitnessCircleWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}




