.dashboardPage {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboardContainer {
    height: 80%;
    width: 85%;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 50px;
}

.dashboardContainer .card {
    border: 1px solid;
    border-radius: 20px;
    padding: 20px;
}

/* progress container */
.dashboardContainer .progressContainer {
    grid-row: 1 / 3;
    grid-column: 3;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.progressContainer .cardHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

.progressContainer .headerText {
    display: flex;
    flex-direction: column;
}

.progressContainer .headerText h2 {
    margin: 0;
}

.progressContainer .profileContainer {
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-top: 7px;
}

.dashboardContainer .nutritionContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}


