.dashboardPage {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboardContainer {
    height: 80%;
    width: 85%;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 50px;
}

.dashboardContainer .card {
    background: var(--primary-color);
    border-radius: 20px;
    padding: 20px;
}

/* progress container */
.dashboardContainer .progressContainer {
    grid-row: 1 / 3;
    grid-column: 3;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.progressContainer {
    display: flex;
    gap: 20px;
}

.progressContainer .cardHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

.progressContainer .headerText {
    display: flex;
    flex-direction: column;
}

.progressContainer .headerText h2 {
    margin: 0;
}

.progressContainer .profileContainer {
    border: 2px solid var(--accent-color);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-top: 7px;
}


/* bottom section */

.bottomSection {
    margin-top: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.bottomCards {
    display: flex;
    gap: 25px;
}

.progressContainer .smallCard {
    background: var(--secondary-color);
    border-radius: 10px;
    width: 150px;
    height: 150px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.progressContainer .streakContainer {
    position: relative;
}

.streakContainer svg {
    position: absolute;
    top: 10px;
    left: 7px;
}


.streakContainer .streakLabel {
    font-weight: bold;
    font-size: 2.4rem;
}

.streakContainer label {
}



/* Nutrition Container */

.dashboardContainer .nutritionContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}




