.fitnessPage {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fitnessContainer {
    width: 40%;
    height: 70%;
    border-radius: 10px;
    background: var(--primary-color);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.dateLabel {
}



