.fitnessCalendarContainer {
    width: 400px;
    height: 300px;
    border-radius: 10px;
}

.selectDateContainer {
    width: 100%;
    height: 20%;
}

.selectDateContainer ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100%;
    gap: 10px;
}

.selectDateContainer ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    padding: 10px;
    width: 50px;
}

.selectDateContainer ul li .dateName {
    font-size: 0.8rem;
}

.selectDateContainer ul li .dateDay {
    font-weight: 500;
    font-size: 1.1rem;
}

.daySelected {
    background: var(--secondary-color);
}

.todayDot {
    position: absolute;
    border: 3px solid #91a5ca;
    border-radius: 50%;
}