.fitnessPage {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fitnessContainer {
    width: 40%;
    height: 70%;
    border-radius: 10px;
    background: var(--primary-color);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.isLoggingContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* is being logged */

.topSection {
    display: flex;
    gap: 20px;
}

.topSection .leftColumn {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-grow: 1;
}

.topSection label{
    font-size: 1.1rem;
    margin-right: 10px;
}

.topSection select {
    /* Basic styling */
    background: var(--secondary-color);
    border: 2px solid var(--accent-color);
    border-radius: 10px;
    color: var(--accent-color);
    padding: 5px 10px;
    font-size: 0.9rem;
    outline: none;
    cursor: pointer;
    transition: all 0.15s ease;
}

.topSection select:hover {
    background: rgba(255, 255, 255, 0.9);
    color: var(--background-color);
}

.topSection .workoutTimeContainer {
    display: flex;
    align-items: center;
    gap: 2px;
}

.topSection .workoutTimeContainer input {
    padding: 0.625rem;
    background-color: var(--secondary-color); /* neutral-secondary-medium equivalent */
    border: transparent; /* border-default-medium equivalent */
    color: var(--heading-color);
    font-size: 0.875rem;
    border-radius: 10px; /* rounded-base equivalent */
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05); 
    width: 35px;
    outline: none;
}

.topSection .colon {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 6px;
}

.backButtonContainer {
    position: relative;
}

.backButton {
    position: absolute;
    top: 20px;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    background: var(--secondary-color);
    border: 1px solid var(--accent-color);
    cursor: pointer;
    transition: all 0.15s ease;
}

.backButton:hover {
    background: var(--accent-color);
    color: var(--primary-color);
}

/* logmain section */

.logMainSection {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    overflow: scroll;

}

.logMainSection button, .logWorkoutButton {
    border: 2px solid var(--accent-color);
    border-radius: 10px;
    background: var(--secondary-color);
    padding: 10px;
    cursor: pointer;
    transition: all 0.15s ease;
}

.logMainSection button:hover, .logWorkoutButton:hover {
    background: var(--accent-color);
    color: var(--background-color);
}

.workoutList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* workout card */
.workoutCard {
    width: 100%;
    height: 170px;
    background: var(--secondary-color);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.workoutCard .workoutImageContainer {
    width: 100px;
    height: 100px;
    border: 2px solid var(--accent-color);
    border-radius: 10px;
    overflow: hidden;
}

.workoutCard .workoutName {
    font-size: 1.3rem;
}

.workoutCard .subText {
    opacity: 80%;
}

.workoutCard .workoutText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
    flex-grow: 1;
}

.workoutCard .buttonContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.workoutCard .smallButtons {
    display: flex;
    gap: 10px;

}

.workoutCard .smallButtons button {
    padding: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 27px;
    height: 27px;
    border: none;
}


.workoutCard .prButton {
    margin-top: auto;
}

.logWorkoutButton {
    margin-top: auto;    
}






