.fitnessPage {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fitnessContainer {
    width: 40%;
    height: 70%;
    border-radius: 10px;
    background: var(--primary-color);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.isLoggingContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* is being logged */

.topSection {
    display: flex;
    gap: 20px;
}

.topSection .leftColumn {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-grow: 1;
}

.topSection .dateContainer {
    
}

.topSection label{
    font-size: 1.2rem;
    margin-right: 10px;
}

.topSection .workoutTimeContainer input {
    background: var(--secondary-color);
    border: 2px solid var(--accent-color);
    border-radius: 10px;
    color: var(--accent-color);
    outline: none;
    height: 40px;
    padding: 10px;
    font-size: 1.2rem;
    width: 80px;
}

.logMainSection {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
}

.logMainSection button, .logWorkoutButton {
    border: 2px solid var(--accent-color);
    border-radius: 10px;
    background: var(--secondary-color);
    padding: 10px;
    cursor: pointer;
    transition: all 0.15s ease;
}

.logMainSection button:hover, .logWorkoutButton:hover {
    background: var(--accent-color);
    color: var(--background-color);
}

.workoutList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* workout card */
.workoutCard {
    width: 100%;
    height: 170px;
    background: var(--secondary-color);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.workoutCard .workoutImageContainer {
    width: 100px;
    height: 100px;
    border: 2px solid var(--accent-color);
    border-radius: 10px;
    overflow: hidden;
}

.workoutCard .workoutName {
    font-size: 1.3rem;
}

.workoutCard .subText {
    opacity: 80%;
}

.workoutCard .workoutText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
    flex-grow: 1;
}

.workoutCard .buttonContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.workoutCard .smallButtons {
    display: flex;
    gap: 10px;

}

.workoutCard .smallButtons button {
    padding: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 27px;
    height: 27px;
    border: none;
}


.workoutCard .prButton {
    margin-top: auto;
}

.logWorkoutButton {
    margin-top: auto;    
}






