
/* global styles */
.goalFormContainer {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.goalForm {
    width: 40%;
    height: 70%;
    border: 3px solid var(--primary-color);
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigationButtons {
    display: flex;
    gap: 50px;
    margin-top: auto;
    margin-bottom: 25px;
}

.navigationButtons button{
    border: 2px solid var(--primary-color);
    background: transparent;
    border-radius: 10px;
    padding: 12px;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.15s ease;
}

.navigationButtons button:hover {
    background-color: var(--primary-color);
    color: var(--background-color);
}

/* styles for gender and exercise type buttons */
.buttonSvgStyle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonSvgStyle button{
    border: 2px solid var(--primary-color);
    background: transparent;
    min-width: 50px;
    min-height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.15s ease;
}

.buttonSvgStyle svg {
    fill: var(--primary-color);
}

.buttonSvgStyle button:hover svg{
    fill: var(--background-color);
}

.buttonSvgStyle button:hover {
    background: var(--primary-color);
}

.buttonSvgStyle label {
    text-align: center;
    opacity: 0%;
    user-select: none;
    font-size: 0.8rem;
    transition: all 0.15s ease;
}

.buttonSvgStyle button:hover + label {
    opacity: 80%;
}

.buttonSvgStyle .buttonSelected {
    background: var(--primary-color);
}

.buttonSvgStyle .buttonSelected svg {
    fill: var(--background-color);
}

.goalForm h2 {
    text-align: center;
}


/* step 1 */

.step1 .goalInputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.step1 .goalInputs input {
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    padding: 10px;
    background: transparent;
    color: var(--primary-color);
    outline: none;
}

.heightForm input {
    max-width: 200px;
}

.genderForm {
    display: flex;
    gap: 20px;
}

.maleButton svg {
    transform: scale(0.8);
}

.otherButton svg {
    transform: scale(0.8);
}

.activityForm select {
    padding: 7px;
    border-radius: 10px;
}

.exerciseTypeForm {
    display: flex;
    gap: 20px;
}

/* step 2 */

.step2 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.nutritionTypeForm, .trainingTypeForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.nutritionTypeForm div, .trainingTypeForm div{
    display: flex;
    gap: 15px;
}

.nutritionTypeForm button, .trainingTypeForm button{
    border: 2px solid var(--primary-color);
    background: transparent;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.15s ease;
    cursor: pointer;
}

.nutritionTypeForm button:hover, .trainingTypeForm button:hover, .step2 .buttonSelected{
    background: var(--primary-color);
    color: var(--background-color);
}


/* step 3 */


