:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  /* these are css variables that can be used across the whole document */
  --primary-color: #e6e6e6;
  --background-color: #252526; 

}

*, *::before, *::after {
  box-sizing: border-box;
}

/* removes arrows on input type number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* gets rid of purple color and underlining on links */
a {
  text-decoration: none; 
  color: inherit;
}

button {
  color: inherit;
}

body {
  color: var(--primary-color);
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  overflow: hidden;
}


