.macroSearchContainer {
    display: flex;
    justify-content: center;
}

.searchFood input{
    width: 300px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid var(--primary-color);
    background: rgba(255, 255, 255, 0.25);
    padding: 10px;
    color: var(--primary-color);
    outline: none;
    margin-top: 30px;
    transition: all 0.15s ease;
}

.searchFood input:focus {
    transform: scale(1.05);
}

.foodsList {
    display: flex;
    justify-content: center;
    flex-direction: column;
    list-style: none;
    gap: 20px;
    padding-left: 0;
}

.foodsList li {
    border: 2px solid var(--primary-color);
    padding: 10px;
    border-radius: 10px;
    display: flex;
}


.foodsList .mainInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.foodsList .mainInfo .itemName {
    font-size: 1.05rem;
    font-weight: 500;
}

.foodsList .mainInfo .itemBrand {
    font-size: 0.85rem;
    opacity: 80%;
}

.subInfo {
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.subInfo .itemCalories {
    font-weight: 500;
    font-size: 1.2rem;
}

.subInfo .itemCalories span {
    font-size: 0.6rem;
    margin-left: 1.5px;
}

.subInfo button {
    border-radius: 10px;
    border: 1px solid var(--primary-color);
    background: rgba(255, 255, 255, 0.25);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.15s ease;
}

.subInfo button:hover {
    background: var(--primary-color);
    color: var(--background-color);
}

.subInfo .addFoodButton {
    font-size: 1.5rem;
}

.subInfo .infoButton {
    font-size: 1.2rem;
}