.nutritionPage {
    padding: 20px;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nutritionPage .nutritionContainer {
    height: 700px;
    width: 600px;
    margin-bottom: 50px;
    border-radius: 20px;
    padding: 20px;
    overflow: hidden;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--primary-color);
}

.dateLabel {
    font-weight:500;
    opacity: 90%;
}

.nutritionPage .calorieCount {
    font-size: 2rem;
    font-weight: bold;
}

.nutritionPage .progressBar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    margin-top: 20px;
}

.cpfContainer {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 50px;
}

.cpfContainer div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cpfContainer div label {
    font-size: 0.8rem;
    opacity: 80%;
}

.cpfContainer div div {
    font-size: 1.5rem;
}

/* Nutrition Card */

.nutritionCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nutritionCard .progressBar {
    width: 200px;
    height: 200px;
}


/* bottom content */

.bottomContent {
    display: flex;
    justify-content: center;
    align-items: center;
}