.userProfilePage {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userProfileContainer {
    width: 40%;
    height: 70%;
    background: var(--primary-color);
    border-radius: 10px;
}