.weeklyChartContainer {
    border-radius: 10px;
    height: 200px;
    display: flex;
    align-items: center;
    padding: 10px;
    background: var(--secondary-color);
    flex-direction: column;
}

.weeklyChart {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    gap: 10px;
}

.weeklyChartTitle {
    align-self: flex-start;
    margin: 0;
    margin-left: 2px;
}

.weeklyChart .barContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 5px;
    height: 90%;
    position: relative;
}

.weeklyChart .barContainer label {
    font-size: 0.7rem;
    opacity: 80%;
    margin-top: 3px;
}

.weeklyChart .bar {
    border-radius: 10px;
    width: 35px;
    min-height: 20px;
    background: rgba(255, 255, 255, 0.4);
    cursor: pointer;
    transition: all 0.15s ease;
}

.weeklyChart .bar:hover {
    background: rgba(255, 255, 255, 0.9);
}

.weeklyChart .infoCard {
    border: 1px solid var(--accent-color);
    height: 30px;
    width: 50px;
    position: absolute;
    left: 12px;
    bottom: 50px;
    background: var(--background-color);
    border-radius: 10px;
    transition: all 0.15s ease;
    z-index: 100;
    opacity: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
}

.weeklyChart .bar:hover .infoCard {
    opacity: 80%;
}



